.about{
  height: 100vh;
  display: flex;
  align-items: center;
}

.about-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.about-right {
  flex: 1;
  margin-right: 30px;
}

.about-card.bg {
  position:absolute;
  top: 10px;
  left: 80px;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(200,101,183,1) 100%);
}

.about-card {
  width: 60%;
  height: 90vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-title {

  font-size: 50px;
  font-family: 'Chilanka', cursive;
}

.about-sub {
  margin: 10px 0px;
}

.about-desc{
    font-weight: 300px;
}

@media screen and (max-width: 480px){
  .about{
    flex-direction: column;
    align-items: center;
  }
  .about-left{
    width: 100%;
    margin-top: 40px;
    margin-bottom:20px;
  }
  .about-card {
    width: 65%;
    height: 60vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
  }
  .about-card.bg{
    display: none;
  }
  .about-right{
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-left: 10px;
   margin-right: 10px;
   flex:0.5;
  }
 
  .about-title{
    font-size: 30px;
  }
}

